<section  ng-controller="TimelineCtrl">
  <p class="alert alert-danger" ng-show="!timeline.date.year">
    A year is needed in order to make the timeline work gracefully.
  </p>
  <dl class="timeline-fields">
    <!-- Group -->
    <dt><label for="timeline-group">Group</label></dt>
    <dd>
      <div class="group">
        <input type="text" id="timeline-group" ng-model="timeline.group" placeholder="Group name">
      </div>
      <div class="caption">
        <small>This will separate this event into a line of its own.</small>
      </div>
    </dd>

    <!-- Date block -->
    <dt><label for="timeline-date">Date</label></dt>
    <dd>
      <div class="dates">
        <input type="number" ng-model="timeline.date.year" placeholder="YYYY">
        <input type="number" ng-model="timeline.date.month" ng-hide="!timeline.date.year"  min="0" max="12" placeholder="MM">
        <input type="number" ng-model="timeline.date.day" ng-hide="!timeline.date.month" min="0" max="31" placeholder="DD">
        <input type="number" ng-model="timeline.date.hour" ng-hide="!timeline.date.day" min="0" max="24" placeholder="HH">
        <input type="number" ng-model="timeline.date.minute" ng-hide="!timeline.date.hour" min="0" max="59" placeholder="MM">
        <input type="number" ng-model="timeline.date.second" ng-hide="!timeline.date.minute" min="0" max="59" placeholder="SS">
      </div>
    </dd>

    <!-- End date block -->
    <div class="enddate-fields" ng-hide="!timeline.date.year">
      <dt>
        <label for="timeline-enddate">End Date</label>
      </dt>
      <dd>
        <div class="dates">
          <input type="number" number-to-string ng-model="timeline.enddate.year" placeholder="YYYY">
          <input type="number" ng-model="timeline.enddate.month" min="0" max="12" placeholder="MM">
          <input type="number" ng-model="timeline.enddate.day" min="0" max="31" placeholder="DD">
          <input type="number" ng-model="timeline.enddate.hour" ng-hide="!timeline.enddate.day" min="0" max="24" placeholder="HH">
          <input type="number" ng-model="timeline.enddate.minute" ng-hide="!timeline.enddate.hour" min="0" max="59" placeholder="MM">
          <input type="number" ng-model="timeline.enddate.second" ng-hide="!timeline.enddate.minute" min="0" max="59" placeholder="SS">
        </div>
      </dd>
    </div>

    <!-- Text -->
    <dt><label for="timeline-text">Text</label></dt>
    <dd>
      <textarea id="timeline-text" rows="8" cols="40" ng-model="timeline.text" placeholder="Text or HTML content"></textarea>
    </dd>

    <!-- Media -->
    <dt><label for="timeline-media">Media</label></dt>
    <dd>
      <div class="group">
        <input type="text" id="timeline-media" ng-model="timeline.media.url" placeholder="URL or HTML">
        <a class="media-button" ng-click="getMedia()">Insert</a>
      </div>
      <div class="caption">
        <small>Use the media types available for TimelineJS or a media from Wordpress.</small>
      </div>
    </dd>

    <!-- Credit -->
    <dt><label for="timeline-credit">Credit</label></dt>
    <dd><input type="text" id="timeline-credit" ng-model="timeline.media.credit" placeholder="Acme Inc."></dd>

    <!-- Caption -->
    <dt><label for="timeline-caption">Caption</label></dt>
    <dd><input type="text" id="timeline-caption" ng-model="timeline.media.caption" placeholder="Media from AcmePhoto"></dd>

    <!-- Thumbnail -->
    <dt><label for="timeline-thumbnail">Thumbnail</label></dt>
    <dd>
      <div class="group">
        <input type="text" id="timeline-thumbnail" ng-model="timeline.media.thumbnail" placeholder="URL to image">
        <a class="media-button" ng-click="getImage('#timeline-thumbnail')">Insert</a>
      </div>
    </dd>

    <!-- Background -->
    <dt><label for="timeline-bg">Background</label></dt>
    <dd>
      <div class="group">
        <input type="url" id="timeline-bg" ng-model="timeline.background.url" placeholder="URL">
        <a class="media-button" ng-click="getImage('#timeline-bg')">Insert</a>
      </div>
    </dd>

    <!-- Background opacity -->
    <dt><label for="timeline-bg">Background opacity</label></dt>
    <dd>
      <input type="number" id="timeline-bg" ng-model="timeline.background.opacity" placeholder="100">
    </dd>
  </dl>
  <input type="text" name="_timeline_content"  ng-model="timelinecontent" value="{{timeline | json: 0}}" class="hidden">
  <div class="debug">
    <strong>JSON</strong>
    <pre>{{ timeline | json: 4 }} </pre>
  </div>
</div>
</section>
