<section  ng-controller="TimelineCtrl">
  <p class="alert alert-danger" ng-show="!timeline.date.year">
    A year is needed in order to make the timeline work gracefully.
  </p>
  <dl class="timeline-fields">
    <dt><label for="timeline-date">Date</label></dt>
    <dd>
      <div class="dates">
        <input type="number" ng-model="timeline.date.year" placeholder="YYYY">
        <input type="number" ng-model="timeline.date.month" ng-hide="!timeline.date.year"  min="0" max="12" placeholder="MM">
        <input type="number" ng-model="timeline.date.day" ng-hide="!timeline.date.month" min="0" max="31" placeholder="DD">
        <input type="number" ng-model="timeline.date.hour" ng-hide="!timeline.date.day" min="0" max="24" placeholder="HH">
        <input type="number" ng-model="timeline.date.minute" ng-hide="!timeline.date.hour" min="0" max="59" placeholder="MM">
        <input type="number" ng-model="timeline.date.second" ng-hide="!timeline.date.minute" min="0" max="59" placeholder="SS">
      </div>
    </dd>

    <div class="enddate-fields" ng-hide="!timeline.date.year">
      <dt>
        <label for="timeline-enddate">End Date</label>
      </dt>
      <dd>
        <div class="dates">
          <input type="number" ng-model="timeline.enddate.year" placeholder="YYYY">
          <input type="number" ng-model="timeline.enddate.month" min="0" max="12" placeholder="MM">
          <input type="number" ng-model="timeline.enddate.day" min="0" max="31" placeholder="DD">
          <input type="number" ng-model="timeline.enddate.hour" ng-hide="!timeline.enddate.day" min="0" max="24" placeholder="HH">
          <input type="number" ng-model="timeline.enddate.minute" ng-hide="!timeline.enddate.hour" min="0" max="59" placeholder="MM">
          <input type="number" ng-model="timeline.enddate.second" ng-hide="!timeline.enddate.minute" min="0" max="59" placeholder="SS">
        </div>
      </dd>
    </div>

    <dt><label for="timeline-text">Text</label></dt>
    <dd>
      <textarea id="timeline-text" rows="8" cols="40" ng-model="timeline.text" placeholder="Text or HTML content"></textarea>
    </dd>

    <dt><label for="timeline-media">Media</label></dt>
    <dd>
      <div class="group">
        <input type="text" id="timeline-media" ng-model="timeline.media" placeholder="URL or HTML">
        <a class="media-button" ng-click="getIMG()">Insert</a>
      </div>
      <div class="caption">
        <small>Use the media types avaiable for TimelineJS or a media from Wordpress.</small>
        <ul class="media-types">
          <li>Blockquotes</li>
          <li>Daily Motion</li>
          <li>Document Cloud</li>
          <li>Flickr</li>
          <li>Google Docs</li>
          <li>Google Maps</li>
          <li>iFrames</li>
          <li>Images</li>
          <li>Instagram</li>
          <li>Soundcloud</li>
          <li>Spotify</li>
          <li>Storify</li>
          <li>Twitter</li>
          <li>Vimeo</li>
          <li>Vine</li>
          <li>Website Links</li>
          <li>YouTube</li>
        </ul>
      </div>
    </dd>

    <dt><label for="timeline-credit">Credit</label></dt>
    <dd><input type="text" id="timeline-credit" ng-model="timeline.credit" placeholder="Acme Inc."></dd>

    <dt><label for="timeline-caption">Caption</label></dt>
    <dd><input type="text" id="timeline-caption" ng-model="timeline.caption" placeholder="Media from AcmePhoto"></dd>
  </dl>
  <form action="" method="post">
    <input type="text" name="_timeline_content" value="{{ timeline | json: 0 }}" class="hidden">
  </form>
  <div class="debug">
    <strong>JSON</strong>
    <pre>{{ timeline | json: 4 }} </pre>
  </div>
</div>
</section>
